In [4]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np
from sklearn import tree

mycsv = pd.read_csv('/users/brianjenney/desktop/datascience/terminationtree/yrterm.csv', header=0)

df = pd.DataFrame(mycsv)

df.dropna()

#get all the unique names for string value columns 
termreason = df['termreason_desc'].unique()

termtype = df['termtype_desc'].unique()

depts =  df['department_name'].unique()

titles = df['job_title'].unique()

#initialize new object
newKey = {}


#iterate over the string value cols and map them to integer values-- probably should be a function
for idx, item in enumerate(titles):
    newKey[item] = idx
df['job_title'] = df['job_title'].map(newKey)

for idx, item in enumerate(depts):
    newKey[item] = idx
df['department_name'] = df['department_name'].map(newKey)

for idx, item in enumerate(termtype):
    newKey[item] = idx
df['termtype_desc'] = df['termtype_desc'].map(newKey)

for idx, item in enumerate(termreason):
    newKey[item] = idx
df['termreason_desc'] = df['termreason_desc'].map(newKey)

genders = {'M':1,'F':2}
df['gender_short'] = df['gender_short'].map(genders)

status = {'ACTIVE':1, 'TERMINATED':2}
df['STATUS'] = df['STATUS'].map(status)

#delete these cols!
del df['gender_full']
del df['city_name']
del df['BUSINESS_UNIT']

print df

#get list of features for tree
features = list(df.columns[6:13])
features

#we want to determine the status from the features
y = df["STATUS"]
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

#output our graph
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import pydot 

dot_data = StringIO()  
tree.export_graphviz(clf, out_file=dot_data,  
                         feature_names=features)  
graph = pydot.graph_from_dot_data(dot_data.getvalue()) 

# dotfile = open("/users/brianjenney/desktop/datascience/tree", 'w')
# tree.export_graphviz(clf, out_file = dotfile, feature_names = features)
# dotfile.close()


print features

#iterate over each row in grid and predict termination in new column
def predict(service, dept, title, store, gender, termreason, termtype):
    print clf.predict([[service, dept, title, store, gender, termreason, termtype]])

       EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00    1954-01-03       1989-08-28
1            1318  12/31/2007 0:00    1954-01-03       1989-08-28
2            1318  12/31/2008 0:00    1954-01-03       1989-08-28
3            1318  12/31/2009 0:00    1954-01-03       1989-08-28
4            1318  12/31/2010 0:00    1954-01-03       1989-08-28
5            1318  12/31/2011 0:00    1954-01-03       1989-08-28
6            1318  12/31/2012 0:00    1954-01-03       1989-08-28
7            1318  12/31/2013 0:00    1954-01-03       1989-08-28
8            1318  12/31/2014 0:00    1954-01-03       1989-08-28
9            1318  12/31/2015 0:00    1954-01-03       1989-08-28
10           1319  12/31/2006 0:00    1957-01-03       1989-08-28
11           1319  12/31/2007 0:00    1957-01-03       1989-08-28
12           1319  12/31/2008 0:00    1957-01-03       1989-08-28
13           1319  12/31/2009 0:00    1957-01-03       1989-08-28
14           1319  12/31/2010 0:00    1957-01-03       1989-08-28
15           1319  12/31/2011 0:00    1957-01-03       1989-08-28
16           1319  12/31/2012 0:00    1957-01-03       1989-08-28
17           1319  12/31/2013 0:00    1957-01-03       1989-08-28
18           1319  12/31/2014 0:00    1957-01-03       1989-08-28
19           1319  12/31/2015 0:00    1957-01-03       1989-08-28
20           1320  12/31/2006 0:00    1955-01-02       1989-08-28
21           1320  12/31/2007 0:00    1955-01-02       1989-08-28
22           1320  12/31/2008 0:00    1955-01-02       1989-08-28
23           1320  12/31/2009 0:00    1955-01-02       1989-08-28
24           1320  12/31/2010 0:00    1955-01-02       1989-08-28
25           1320  12/31/2011 0:00    1955-01-02       1989-08-28
26           1320  12/31/2012 0:00    1955-01-02       1989-08-28
27           1320  12/31/2013 0:00    1955-01-02       1989-08-28
28           1320  12/31/2014 0:00    1955-01-02       1989-08-28
29           1320  12/31/2015 0:00    1955-01-02       1989-08-28
...           ...              ...           ...              ...
49623        7462   12/1/2015 0:00    1988-05-09       2010-06-08
49624        7719   12/1/2015 0:00    1990-02-07       2011-05-12
49625        5959   12/1/2015 0:00    1976-07-13       2004-03-11
49626        5002   12/1/2015 0:00    1968-12-02       2000-03-04
49627        5000   12/1/2015 0:00    1968-12-01       2000-03-03
49628        5920   12/1/2015 0:00    1976-03-07       2004-01-03
49629        5509   12/1/2015 0:00    1972-11-03       2002-03-30
49630        6474   12/1/2015 0:00    1980-08-24       2006-05-14
49631        6488   12/1/2015 0:00    1980-10-19       2006-06-12
49632        6263   12/1/2015 0:00    1979-01-13       2005-07-07
49633        6284   12/1/2015 0:00    1979-03-02       2005-08-01
49634        8279   12/1/2015 0:00    1994-07-18       2013-09-15
49635        3978   12/1/2015 0:00    1963-03-22       1997-03-01
49636        4344   12/1/2015 0:00    1965-03-29       1998-03-26
49637        4271   12/1/2015 0:00    1964-11-03       1998-01-07
49638        6741   12/1/2015 0:00    1982-09-12       2007-06-14
49639        2767   12/1/2015 0:00    1956-12-26       1993-11-14
49640        1859   12/1/2015 0:00    1951-12-11       1991-03-18
49641        3711   12/1/2015 0:00    1961-10-20       1996-05-31
49642        2103   12/1/2015 0:00    1953-05-14       1991-12-17
49643        6863    9/1/2013 0:00    1983-09-07       2007-12-21
49644        5475    5/1/2012 0:00    1972-08-01       2002-02-08
49645        8013    1/1/2014 0:00    1992-05-26       2012-07-28
49646        7265    2/1/2011 0:00    1986-10-04       2009-08-05
49647        8183   10/1/2014 0:00    1993-10-02       2013-04-15
49648        7560    7/1/2013 0:00    1988-12-26       2010-10-08
49649        1483   11/1/2014 0:00    1949-11-22       1990-02-15
49650        4619    7/1/2012 0:00    1947-07-01       1999-01-06
49651        4382    2/1/2013 0:00    1965-06-25       1998-05-11
49652        2756    4/1/2007 0:00    1942-04-30       1993-11-05

      terminationdate_key  age  length_of_service  department_name  job_title  \
0              1900-01-01   52                 17                0          0
1              1900-01-01   53                 18                0          0
2              1900-01-01   54                 19                0          0
3              1900-01-01   55                 20                0          0
4              1900-01-01   56                 21                0          0
5              1900-01-01   57                 22                0          0
6              1900-01-01   58                 23                0          0
7              1900-01-01   59                 24                0          0
8              1900-01-01   60                 25                0          0
9              1900-01-01   61                 26                0          0
10             1900-01-01   49                 17                0          1
11             1900-01-01   50                 18                0          1
12             1900-01-01   51                 19                0          1
13             1900-01-01   52                 20                0          1
14             1900-01-01   53                 21                0          1
15             1900-01-01   54                 22                0          1
16             1900-01-01   55                 23                0          1
17             1900-01-01   56                 24                0          1
18             1900-01-01   57                 25                0          1
19             1900-01-01   58                 26                0          1
20             1900-01-01   51                 17                0          2
21             1900-01-01   52                 18                0          2
22             1900-01-01   53                 19                0          2
23             1900-01-01   54                 20                0          2
24             1900-01-01   55                 21                0          2
25             1900-01-01   56                 22                0          2
26             1900-01-01   57                 23                0          2
27             1900-01-01   58                 24                0          2
28             1900-01-01   59                 25                0          2
29             1900-01-01   60                 26                0          2
...                   ...  ...                ...              ...        ...
49623          2015-12-30   27                  5               20         46
49624          2015-12-30   25                  4               20         46
49625          2015-12-30   39                 11               20         46
49626          2015-12-30   47                 15               20         46
49627          2015-12-30   47                 15               20         46
49628          2015-12-30   39                 11               20         46
49629          2015-12-30   43                 13               20         46
49630          2015-12-30   35                  9               20         46
49631          2015-12-30   35                  9               20         46
49632          2015-12-30   36                 10               20         46
49633          2015-12-30   36                 10               20         46
49634          2015-12-30   21                  2               20         46
49635          2015-12-30   52                 18               20         46
49636          2015-12-30   50                 17               20         46
49637          2015-12-30   51                 17               20         46
49638          2015-12-30   33                  8               20         46
49639          2015-12-30   59                 22               12         40
49640          2015-12-30   64                 24                1          8
49641          2015-12-30   54                 19               19         45
49642          2015-12-30   62                 24               10         44
49643          2013-09-07   30                  5               19         45
49644          2012-05-07   39                 10               12         40
49645          2014-01-28   21                  1               20         46
49646          2011-02-05   24                  1               20         46
49647          2014-10-15   21                  1               20         46
49648          2013-07-18   24                  2               20         46
49649          2014-11-22   65                 24                2          9
49650          2012-07-01   65                 13               10         44
49651          2013-02-16   47                 14               10         44
49652          2007-04-30   65                 13                2         32

       store_name  gender_short  termreason_desc  termtype_desc  STATUS_YEAR  \
0              35             1                0              0         2006
1              35             1                0              0         2007
2              35             1                0              0         2008
3              35             1                0              0         2009
4              35             1                0              0         2010
5              35             1                0              0         2011
6              35             1                0              0         2012
7              35             1                0              0         2013
8              35             1                0              0         2014
9              35             1                0              0         2015
10             35             2                0              0         2006
11             35             2                0              0         2007
12             35             2                0              0         2008
13             35             2                0              0         2009
14             35             2                0              0         2010
15             35             2                0              0         2011
16             35             2                0              0         2012
17             35             2                0              0         2013
18             35             2                0              0         2014
19             35             2                0              0         2015
20             35             2                0              0         2006
21             35             2                0              0         2007
22             35             2                0              0         2008
23             35             2                0              0         2009
24             35             2                0              0         2010
25             35             2                0              0         2011
26             35             2                0              0         2012
27             35             2                0              0         2013
28             35             2                0              0         2014
29             35             2                0              0         2015
...           ...           ...              ...            ...          ...
49623          39             1                3              2         2015
49624          39             1                3              2         2015
49625          39             2                3              2         2015
49626          39             2                3              2         2015
49627          39             2                3              2         2015
49628          39             1                3              2         2015
49629          39             2                3              2         2015
49630          39             2                3              2         2015
49631          39             2                3              2         2015
49632          39             2                3              2         2015
49633          39             1                3              2         2015
49634          39             2                3              2         2015
49635          39             1                3              2         2015
49636          39             2                3              2         2015
49637          39             2                3              2         2015
49638          39             2                3              2         2015
49639          39             1                3              2         2015
49640          39             1                3              2         2015
49641          39             2                3              2         2015
49642          39             1                3              2         2015
49643          40             2                2              1         2013
49644          40             1                2              1         2012
49645          40             1                2              1         2014
49646          40             1                2              1         2011
49647          40             2                2              1         2014
49648          40             1                2              1         2013
49649          40             2                1              1         2014
49650          40             2                1              1         2012
49651          40             2                2              1         2013
49652          40             2                1              1         2007

       STATUS
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
...       ...
49623       2
49624       2
49625       2
49626       2
49627       2
49628       2
49629       2
49630       2
49631       2
49632       2
49633       2
49634       2
49635       2
49636       2
49637       2
49638       2
49639       2
49640       2
49641       2
49642       2
49643       2
49644       2
49645       2
49646       2
49647       2
49648       2
49649       2
49650       2
49651       2
49652       2

[49653 rows x 15 columns]
['length_of_service', 'department_name', 'job_title', 'store_name', 'gender_short', 'termreason_desc', 'termtype_desc']